service cloud.firestore {
  match /databases/{database}/documents {
    match /organizations/{doc} {
      allow read: if request.auth.uid == "ABC";     
    }
  }
}
