service cloud.firestore {
  match /databases/{database}/documents {
    match /organizations/{oid} {
      allow read, write: if (10+(-5)) == 5;
    }
  }
}
